@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*---Variables--*/
:root {
  --bgcolor: #352c2c;
  --colorsec: #ff0000;
  --colorwhite: #ffff;
  --shadow: #7e7e7e;
  --bgfooter: #464646;
  --bgcard: #4f4f4f;
}
/*--End Variables */

/*----Reuse Styles---*/
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bgcolor);
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

span {
  color: var(--colorsec);
}

h1,
h4,
p {
  color: var(--colorwhite);
}

.btn {
  background-color: var(--colorsec);
  color: var(--colorwhite);
}

.btn_social-media {
  position: fixed;
  z-index: 1000;
  top: 50%;
}

.btn_scrolltop {
  position: fixed;
  bottom: 20px;
  right: 10px;
}

#btn_curriculo {
  background-color: var(--colorsec);
}
/*----End Reuse Styles---*/

/*----Home---*/
.navbar-brand {
  font-size: 40px;
  font-weight: 600;
  color: var(--colorwhite);
}

.nav-link {
  transition: all 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
  color: var(--colorsec) !important;
}

img {
  box-shadow: 0px 3px 10px var(--shadow);
}
/*----End Home---*/

/*----About---*/
.img_about img {
  width: 200px;
  margin-bottom: 20px;
  border-radius: 5%;
  box-shadow: 0px 3px 10px var(--shadow);
}
/*----End About---*/

/*----Projects---*/
.card-body {
  background-color: var(--bgcard);
}
/*----End Projects---*/

/*----Contact---*/
form {
  width: 300px;
}

.form-label {
  color: var(--colorwhite);
}

#btn_send {
  background-color: var(--colorsec);
}
/*----End Contact---*/

/*----Footer---*/
.footer {
  background-color: var(--bgfooter);
}

#copyright {
  color: var(--colorwhite);
}

.menu_footer {
  transition: all 0.3s;
}

.menu_footer a:hover {
  color: var(--colorsec) !important;
}
/*----End Footer---*/
